﻿@{
    ViewData["Title"] = "Fale Conosco";
}
<h2>@ViewData["Title"]</h2>

<address>
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Comercial:</strong> <a href="mailto:telzir@telzir.com">telzir@telzir.com</a><br />
</address>
