﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="container">
        <h2>Telzir - Planos de Telefonia</h2><br />
        <div class="alert alert-warning alert-dismissable">
            Desculpe! Ainda não atendemos a esse DDD.
        </div>
        <form role="form" action="~/Home/Index" method="post" name="Frm1">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Origem</label>
                        <select name="To" id="To" class="form-control" onchange="setFrom()">
                            <option value="011" selected>DDD 011</option>
                            <option value="016">DDD 016</option>
                            <option value="017">DDD 017</option>
                            <option value="018">DDD 018</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Destino</label>
                        <select name="From" id="From" class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Plano</label>
                        <select name="IDPlanName" class="form-control">
                            <option value="1">FaleMais 30</option>
                            <option value="2">FaleMais 60</option>
                            <option value="3">FaleMais 120</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Minutos</label>
                        <input class="form-control" name="Time" id="Time" type="number" value="30" autocomplete="off" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btnSimular" onclick="simulate()">Simular</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="WithPlan"></label>
                </div>
                <div class="form-group">
                    <label class="WithoutPlan"></label>
                </div>
                <div class="form-group">
                    <label class="Taxa"></label>
                </div>
            </div>
        </div>
    </div>
</div>